/* alertStyle.css */

.alert {
    -fx-font-size: 13px;
}

.alert .dialog-pane {
    -fx-background-color: #E6FDE6; /* Set background color */
}

.alert .header-panel {
    -fx-background-color:  #E6FDE6; /* Set header background color */
    -fx-text-fill:  #78C278; /* Set header text color */
}

.alert .content-panel {
    -fx-background-color:  #DFF0FF; /* Set content background color */
    -fx-text-fill:  #0561FC; /* Set content text color */
}

.alert .button-bar {
    -fx-background-color: #78C278; /* Set button bar background color */
}

.alert .button {
    -fx-background-color: #E6FDE6; /* Set button background color */
    -fx-text-fill: #78C278; /* Set button text color */
}

.alert .button:hover {
    -fx-cursor: hand /* Set button hover background color */
}
